.navbar {
    height: 96px;
    position: sticky;
    z-index: 1;
    top: 0;
    display: flex;
    justify-content: end;
    border-bottom: 4px solid #000000;
    background: linear-gradient(to top right, #172f58, #05234a, #04042f, #110121, #000000);
}

.nav-container {
    width: 660px;
    display: flex;
    justify-content: space-between;
}

.nav-container > a {
    font-size: 26px;
    margin: 26px;
    text-decoration: none;
    border-radius: 6rem;
    color: yellow;
}
