@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Titan+One&family=Yellowtail&display=swap');

.intro {
    max-height: 100vh;
    width: 100vw;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.intro > video {
    width: 100%;
    height: fit-content;
    position: static;
    top: 0;
    z-index: 0;
    overflow: hidden;
}


.intro > .content {
    z-index: 0;
    position: absolute;
    bottom: 250px;
    left: 250px;
    color: rgb(252, 255, 153);
}

.intro > .content > h1 {
    font-size: 76px;
    font-family: 'Lobster', cursive;
}

.intro > .content > h2 {
    font-size: 44px;
    font-family: 'Lobster', cursive;
}

.intro > .content > p {
    font-size: 38px;
    font-family: 'Yellowtail', cursive;
}

.intro > .animation {
    width: 700px;
    height: 600px;
    z-index: 0;
    position: absolute;
    bottom: 150px;
    right: 150px;
}

.animation-wrapper {
    position: absolute;
    z-index: 0;
    bottom: 0;
}

.animation {
    position: relative;
}

.intro > .animation > #star {
    position: absolute;
    font-size: 32px;
}

#a-route > path {
    stroke-width: 6;
    stroke: rgb(140, 0, 255);
}

@keyframes faded {
    14% {stroke:rgb(255, 255, 255); stroke-width: 9;}
    29% {stroke:rgb(255, 0, 0); stroke-width: 4;}
    44% {stroke:rgb(234, 0, 255); stroke-width: 9;}
    58% {stroke:rgb(255, 238, 0); stroke-width: 4;}
    72% {stroke:rgb(30, 0, 255); stroke-width: 9;}
    86% {stroke:rgb(30, 255, 0); stroke-width: 4;}
    100% {stroke:rgb(0, 0, 0); stroke-width: 9;}
}

.star-route {
    animation-name: faded;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}
@keyframes faded {
    14% {stroke:rgb(255, 255, 255); stroke-width: 9;}
    29% {stroke:rgb(255, 0, 0); stroke-width: 4;}
    44% {stroke:rgb(234, 0, 255); stroke-width: 9;}
    58% {stroke:rgb(255, 238, 0); stroke-width: 4;}
    72% {stroke:rgb(30, 0, 255); stroke-width: 9;}
    86% {stroke:rgb(30, 255, 0); stroke-width: 4;}
    100% {stroke:rgb(0, 0, 0); stroke-width: 9;}
}

.star-route {
    animation-name: faded;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}
